# IDEs
/.vscode
/.idea

# Dependencies
/node_modules

# Build
/dist

# Code Quality
/coverage
/.nyc_output

# Running locally
/.wercker
/.env
/.env.ci.local
/.env.local
gcloud-keyfile.json

# tools
/.wercker
