{
    "require": [
        "ts-node/register"
    ],
    "reporter": [
        "lcov",
        "text"
    ],
    "sourceMap": true,
    "instrument": true,
    "extension": [
        ".ts"
    ],
    "include": [
        "src/**/*.ts"
    ],
    "exclude": [
        "src/**/I*.ts",
        "src/**/*.spec.ts",
        "**/*.d.ts",
        "src/lib/main.ts"
    ],
    "all": true
}
